* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

div {
    border: 1px solid;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
}

.flex-rou {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-4 {
    flex-grow: 4;
}

.f-basis {
    flex-basis: 50%;
}

.m-h-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.m-v-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.red {
    width: 500px;
    height: 500px;
    background: red;
}

.bg-green {
    background: green;
}

.bg-pink {
    background: pink;
}

.bg-blue {
    background: blue;
}

.bg-yellow {
    background: yellow;
}

.float-r {
    float: right;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100px;
}